.reviewsDiv{
    padding-top: 30px;
}
.li{
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.author{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.33;
    margin-bottom: 10px;
}
.content{
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.33;
    text-align:justify;
}