.form{
    margin-bottom: 30px;
}
.input{
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 20px;
}
.btn{
    padding: 5px 10px;
    background-color: var(--back-color2);
    box-shadow: 1px 1px 1px grey;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus{
        box-shadow: 2px 2px 2px grey;
    }
}