.header{
    position: fixed;
    top:0;
    z-index: 1100;
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 1px 1px 1px grey;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
}
.nav{
    display: flex;
    column-gap: 15px;
}
.link{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #212121;

    &:hover, 
    &:focus{
        text-decoration: underline;
    }
}
